<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="COUNTRIES_FEED" value="~/data/countries.json" />
    <add key="AIRPORTS_FEED" value="~/data/data.json" />
    <add key="KEY_CACHE_LOCATIONS" value="Locations" />
    <add key="CACHE_TIMEOUT" value="5" />
  </appSettings>
</configuration>